{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "warn",
    "default-case": "error",
    "no-alert": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-imports": "error",
    "no-unused-expressions": "error",
    "no-empty": "error",
    "no-unreachable": "error",
    "no-unused-vars": "warn",
    "no-var": "error",
    "prefer-const": "error",
    "no-debugger": "warn",
    "no-use-before-define": "error",
    "no-await-in-loop": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
