.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  outline: 0;
  overflow: hidden;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
  outline: 0;
  width: 95%;
  max-width: 111rem;
  height: 50rem;
}

/* .modal.open {
  display: flex;
} */
